
.main {
  margin: auto;
  margin-bottom: 1rem;
  border-radius: 5px;
  text-align: center;
  border: 1px solid black;
  width: max-content;
  padding: 2rem;
  background-color: #609966;
}
.form-div {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
input {
  border-radius: 2px;
  border: none;
  padding: 8px 8px;
  font-size: 1rem;
  width: 300px;
}
.input-div {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: flex-start;
  gap: 5px;
}
span {
  color: rgb(221, 44, 44);
  padding: 5px 0px;
}
.submit-btn {
  background-color: rgb(8, 105, 197);
  padding: 5px 15px;
  color: white;
  border: none;
  font-size: 1.3rem;
  border-radius: 3px;
  cursor: pointer;
}
.select {
  font-size: 1rem;
  padding: 5px 8px;
  width: 320px;
}
.condition {
  display: flex;
  flex-direction: row;
  width: 43rem;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.terms {
  display: flex;
  flex-direction: row;
  width: 322px;
  justify-content: center;
}
.terms-msg {
  text-align: left;
  color: black;
}

.radio-container {
  display: flex;
  width: 21rem;
  gap: 30px;
}
.radio {
  width: 1rem;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 3rem;
}

.radio-main-div {
  display: flex;
  flex-direction: row;
  width: 43rem;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.radio-terms{
  padding: 5px 8px;
  font-size: 1rem;
  width: 20px;
}



/* --------------------------------------------user table----------------------------- */

.table {
  width: 60rem;
  margin: auto;
}
