.main{
    text-align: center;
}
.form-div{
    /* background-color: rgb(105, 105, 190); */
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
input{
    padding: 5px 8px;
    font-size: 1rem;
    width: 300px;
}
.input-div{
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    gap: 5px;
}
span{
    color: rgb(221, 44, 44);
    padding: 5px 0px;
}
.submit-btn{
    background-color: rgb(8, 105, 197);
    padding: 5px 15px;
    color: white;
    border: none;
    font-size: 1.3rem;
    border-radius: 3px;
    cursor: pointer;
}
.select{
    font-size: 1rem;
    padding: 5px 8px;
    width: 320px;
}
.condition{
    width: 320px;
/* background-color: bisque; */
}
.terms{
    display: flex;
    flex-direction: row;
    width: 322px;
}
.terms-msg{
    text-align: inherit;
    color: black;
    width: 250rem;
}



.radio-container{
    display: flex;
    width: 21rem;
    gap: 30px;
}
.radio{
    width: 1rem;
}